*{
    margin:0px auto;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
main{
    width: 90%;
}
header{
    width: 100%;
    background-color: crimson;
    height: 100px;
}
header h1{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px 40px;

}
nav{
    background-color: white;
}
nav ul{
    list-style: none;
    padding: 0px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    color:black;
    padding:10px 15px;
}
section{
    display: flex;
}
aside{
  width: 20%;
  height: 400px;
  background-color: bisque;
}
article{
   width: 80%;
  height: 400px;
  background-color:cyan;
}
footer{

}